.Header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: xx-large;
    margin-right: 70px;
    position: fixed;
    width: 100%;
    margin-top: 3%;
    color: #AEECEF;
}
